<form enctype="multipart/form-data">
    <div class="form-group col-4" style="position: absolute;top: 155px;left: 416px;">
        <input type="file" class="form-control" name="file" /><br />
        <input type="submit" value="Upload" class="btn btn-outline-success" asp-controller="Home" asp-action="Index" formmethod="post" />
    </div>
</form>

